brotlipy
certifi
cffi
charset-normalizer
click
cryptography
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
pycparser
pyOpenSSL
PySocks
requests
six
urllib3
Werkzeug
win-inet-pton
wincertstore
