<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPy BoT</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="shortcut icon" href="../static/img/favicon.png">
</head>
<body>
<!-- NAVBAR -->
    <div class="navbar" id="navbar">
        <div class="nav_container">
            <h1>GrandPy BoT</h1>
        </div>
    </div>
<!-- HEADER -->
    <header>
        <div class="head_container">
            <div id="head_circle">
                <img class="head_logo" src="/static/img/robot02_90810.png" alt="logo_head">
            </div>
            <div class="hello_bot">
                <h1>Bonjour</h1>
                <h1>Quel lieu recherches tu ?</h1>
            </div>
        </div>
    </header>
<!-- SECTION -->
    <section>
        <div class="input_container">
            <form action="{{ url_for('user_text') }}" id="form" method="post">
                <input type="text" id="user_text" name="user_text" placeholder="Quel lieu recherches tu ?">
            </form>
        </div>
            <div class="invisible" id="api_container">
                <div id="map"></div>
                <div id="wiki">
                    <img class="little_logo" src="/static/img/robot02_90810.png" alt="little_head" width="128" height="128">
                    <div id="bubble">
                        <p></p>
                    </div>
                </div>
            </div>
    </section>
    <footer>
        <div class="foot_container_top">
            <div class="foot_twitter">
                <a href="https://twitter.com/Olitentemange" target="_blank" class="twitter_link">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="foot_github">
                <a href="https://github.com/Holiten" target="_blank" class="github_link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="foot_linkedin">
                <a href="https://www.linkedin.com/in/bruno-le-marchand-42329414/" target="_blank" class="linkedin_link">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="foot_container_bot">
            <a href="https://www.oliten.tv/" target="_blank" class="oliten_link">
                    <p>BRUNO LE MARCHAND</p>
            </a>
        </div>
    </footer>

    <script
            async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6hou4EP8XjxHSwk9FGDoN1e6EWL7sAUM&callback=initMap&v=weekly"
    >
    </script>

    <script src="/static/js/main.js"></script>



</body>
</html>